<a href="javascript:(function(doc){
            window.pinata = function(response) {
                var panel = doc.createElement('DIV');
                panel.innerHTML = response.html;
                doc.body.appendChild(panel);
            };
            var article = doc.getElementsByTagName('article')[0]
                    || doc.querySelector('.article')
                    || doc.body;
            var html = article.innerHTML;
            var jsCode = doc.createElement('script');
            jsCode.setAttribute('src', 'http://pinata.idlabs.nl/keyword?callback=pinata&url='+encodeURIComponent(window.location));
            doc.body.appendChild(jsCode);
        }(document));"  class="bookmarklet" title="drop me onto your bookmarks bar">
    Pi&ntilde;ata
</a>