{% extends "views/_base-view/_base-view.html" %}

{% block meta %}
    <meta name="description" content="Find articles in {{ projectTitle }} by keyword, tag or author.">
    <meta name="keywords" content="search, query, find, hits, results">
    {{ parent() }}
    <meta property="og:type" content="website">
{% endblock %}

{% block content %}
    <h1 class="index-heading">{{ title }}</h1>

    {% for hit in hits %}
        <li><a href="{{hit.url}}">{{ hit.title }}</a></li>
    {% endfor %}
{% endblock %}