<aside>
    <h1>Pinata</h1>
<ul><li><h2 class="tab-head">Related articles</h2>
        <ul>
    {% for hit in output.related|slice(0,10) %}
        <li><a href="{{hit.url}}">{{ hit.title }}</a> ({{hit.score}})</li>
    {% endfor %}
        </ul>
</li>
<li><h2 class="tab-head">Keywords</h2>
    <dl>
    {% for hit in output.keywords|slice(0,10) %}
    <dt><a href="{{ path('search', { query: hit.stem}) }}">{{ hit.term }}</a> ({{ hit.frequency }})</dt>
    <dd>{{ hit.translation|slice(0,3)|join(", ") }}</dd>
    {% endfor %}        
    </ul>
</li>
</ul>
</aside>