
<!-- site-header -->
<header class="site-header" data-component="site-header">
	<div class="header-wrapper">
		<a href="{{ path('home') }}">
			<div class="heading">
				<img
						class="site-logo"
						src="http://es.linguistadores.com/image/0/images/logo_only.png"
						alt=""
						height="69" width="65">
				<div class="header-titles">
					<h1 class="site-title">Linguistadores</h1>
					<h2 class="site-tagline">Project Pinata</h2>
				</div>
			</div>
		</a>
        {% include "components/bookmarklet/_bookmarklet.html" %}
	</div>
</header>
<!-- /site-header -->